.h2, .form-label {
    display: block;
    color: #0A090C;
    margin-bottom: 2px;
}

h2 {
    font-weight: 600;
}

.form-input {
    border-radius: 3px;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 2px #D6D6D6;
    border: none;
    padding: 2%;
    margin-bottom: 15px;
    position: relative;
    max-height: 20px;
}

.form-input:focus {
    box-shadow: none;
    outline-color: #90DDF0;
}

.form-btn {
    margin-top: 1.2em;
    margin-bottom: 2em;
    display: block;
    width: 100px;
    background-color: #2C666E;
    color: white;
    border: none;
    padding: 0.6em;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: 3px;
    cursor: pointer;
}

.message {
    display: none;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #F0EDEE;
}

.message.success, .message.error {
    display: block;
}

.message.error {
    background-color: #FBD9D3;
    color: #900000;
    border-color: #900000;
}

.message.success {
    background-color: #CEFAD0;
    color: #008631;
    border-color: #008631;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
}

.checkbox-group {
    box-sizing: border-box;
    align-items: left;
    width: 18%;
}


.checkbox-group .control {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
}

.checkbox-group .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-group .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.checkbox-group .control:hover input ~ .control__indicator,
.checkbox-group .control input:focus ~ .control__indicator {
    background: #ccc;
}

.checkbox-group .control input:checked ~ .control__indicator {
    background: #2aa1c0;
}

.checkbox-group .control:hover input:not([disabled]):checked ~ .control__indicator,
.checkbox-group .control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}

.checkbox-group .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.checkbox-group .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.checkbox-group .control input:checked ~ .control__indicator:after {
    display: block;
}

.checkbox-group .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-group .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
