.h2, .form-label, .form-title {
    display: block;
    color: #0A090C;
    margin-top: 8px;
    margin-bottom: 4px;
    text-align: center;
}

h2 {
    font-weight: 600;
}

.form-title {
    margin-bottom: 40px;
}
/* Current design for the text boxes ( I believe )*/
.form-input {
    border-radius: 3px;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 2px #D6D6D6;
    border: none;
    padding: 1.5%;
    margin-bottom: 15px;
    position: relative;
    max-height: 10px;
    display: block;
    margin: 0 auto;
    width: 400px;
}

.form-input:focus {
    box-shadow: none;
    outline-color: #90DDF0;
}

.form-btn {

    margin-bottom: 15px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;


    display: block;
    width: 260px;
    background-color: #2C666E;
    color: white;
    border: none;
    padding: 15px;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

.message {
    display: none;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #F0EDEE;
}

.message.success, .message.error {
    display: block;
}

.message.error {
    background-color: #FBD9D3;
    color: #900000;
    border-color: #900000;
}

.message.success {
    background-color: #CEFAD0;
    color: #008631;
    border-color: #008631;
}