#reportSelector {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin: 5px auto;
    display: block;
    padding: 10px;
}

.select-label {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

#chartContainer {
    width: 90%;
    width: 800px;
    margin: 0 auto;
}

#reportOutput {
    margin: 0 auto;
}