.tableContainer {
	width: 90%;
	height: 400px;
	overflow: auto;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
	width: 100%;
}

table thead {
	position: sticky;
	top: 0;
}

table td {
	padding: 5px 15px;
    text-align: center;
}

table thead th {
	background-color: #2C666E;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #0A090C;
    height: 50px;
    padding: 15px;
    max-width: 100%;
}

table tbody td {
	color: #0A090C;
	border: 1px solid #636363;
}

table tbody tr {
	background-color: #F0EDEE;
}

table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.table-btn {
	margin: 0.5em auto;
    display: block;
	width: 70px;
    color: white;
    border: none;
    padding: 0.6em;
    font-weight: 400;
    font-size: 1.1em;
    border-radius: 3px;
    cursor: pointer;
}

.green-table-btn {
	background-color: #228B22;
}

.red-table-btn {
	background-color: #900000;
}