table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
	width: 90%;
	margin: 5px 5%;
}

table td {
	padding: 15px;
    text-align: center;
}

table thead th {
	background-color: #2C666E;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #0A090C;
    height: 50px;
    padding: 15px;
    max-width: 100%;
}

table tbody td {
	color: #0A090C;
	border: 1px solid #636363;
}

table tbody tr {
	background-color: #F0EDEE;
}

table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}