#reportSelector {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    margin: 5px auto;
    display: block;
    padding: 10px;
}

.select-label {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.select-dropdown {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    display: block;          /* makes margin auto work */
    margin: auto;       /* centres it horizontally */
    display: block;
    padding: 10px;
}

.select-wrapper {
    display: flex;
    justify-content: center;   /* centres them horizontally */
    gap: 20px;                 /* space between the two boxes */
    flex-wrap: wrap;           /* stacks them on very small screens */
    margin: 10px auto;
}

.text-wrapper {
    display: flex;
    flex-direction: column;  /* stacks label on top of selects */
    align-items: center;     /* centres everything */
    margin: 10px auto;
}

.chart-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    height: 400px;       /* must have a height */
}

.chart-box {
    flex: 1;             /* each chart-box shares space equally */
    min-width: 0;        /* allows shrinking */
    position: relative;  /* helps Chart.js size correctly */
}

#tableContainer {
    width: 90%;
    margin: 0 auto;
}

#chartContainer {
    margin: 0 auto;
}

.message {
    display: none;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #F0EDEE;
}

.message.success,
.message.error {
    display: block;
}

.message.error {
    background-color: #FBD9D3;
    color: #900000;
    border-color: #900000;
}

.message.success {
    background-color: #CEFAD0;
    color: #008631;
    border-color: #008631;
}
